header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: fantasy;
}

.elementosheader {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.elementosheader a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu-icon {
    position: absolute;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px;
    flex-direction: column;
}

.menu-desplegable a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: fantasy;
}

.menu-desplegable a:hover {
    background-color: #ddd;
}

.menu-desplegable.mostrar {
    display: flex;
}

body {
    background-color: white;
    margin-top: 80px;
    text-align: center;
}

.formulario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F2F2F2;
    padding: 40px;         /* más espacio interno */
    width: 400px;          /* ancho más grande */
    max-width: 90%;        /* se adapta si la pantalla es pequeña */
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: left;
    z-index: 2000;
    font-family: arial;
}

.formulario input {
    width: 100%;
    padding: 6px;
}

.formulario button {
    margin-top: 10px;
}
